
.Top_Website {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  p {
    font-size: 50px;
  }

  .FrontPage {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: block;
  }

  nav {
    text-align: center;
    background-color: white;
    text-decoration: none;
    font-size: 70px;
    font-family: "Oswald", sans-serif;;
  }
  
  nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    display: compact;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  nav a:hover{
    color:rgb(114, 104, 104)
  }

  p {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    width: 70%;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  width: 70%;
  float: center;
  transition: font-size 2s;
}

h1:hover {
  font-size: 75PX;
}

.p1 {
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  width: 70%;
}