/* Handles the images and some classes handling specific parts of the code such as a video embed */

.Top_Website {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.FrontPage {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: block;
  border-radius: 75px;
}

.video-1 {
  border-radius: 20px;
  margin-bottom: 50px;
}

.SubscribeButton:hover {
  color:rgb(53, 53, 53);
}

/* This handles the paragraph texts and also the navigation bar controls */

nav {
  text-align: center;
  background-color: white;
  text-decoration: none;
  font-size: 70px;
  font-family: "Oswald", sans-serif;;
}
  
nav a{
  text-align: center;
  text-decoration: none;
  color: black;
  display: compact;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}
  
nav a:hover{
  color:rgb(114, 104, 104)
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  width: 70%;
}

a {
  text-align: center;
  background-color: white;
  text-decoration: none;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  color: black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color:rgb(114, 104, 104)
}
/* This code is handling all of the headers in the pages */

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  width: 70%;
  float: center;
  transition: font-size 2s;
}


h1:hover {
  font-size: 75PX;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  padding: 10px;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70%;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70%;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  padding: 10px;
}

/* This code below is the handler for the photos */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* Handles all of the boxes in the "container" */

.box {
  position: relative;
  width: 330px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 3px 4px 3px rgba(0,0,0,0.2);
}

.box img{
  width: 100%;
  height: 100%;
  transition: all linear 0.7s;
}

/* Handles what happens when you hover over the image */

img.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box:hover img{
  opacity: 0;
}

.box:hover img.hover-img{
  opacity: 1;
  transform: scale(1.03);
}

/* Handles the text being on top of some images */

.content-1 {
  grid-column: span 5 / span 5;
  grid-row-start: 3;
  position: relative;
  text-align: center;
  padding: 30px;
}

.content-1 img {
  width: 70%;
}

.content-1-text {
  position: absolute;
  max-width: 400px;
  font-family: "Oswald", sans-serif;
  background-color:rgba(1, 1, 1, 0.5);
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 18px;
  top: 50%;
  left: 50%;
}

.content-2-text {
  position: absolute;
  max-width: 400px;
  font-family: "Oswald", sans-serif;
  background-color:rgba(1, 1, 1, 0.5);
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 18px;
  top: 35%;
  left: 24%;
}