/* This code handles the headers for the top of the website */

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 35px;
  width: 70%;
  float: center;
  transition: font-size 2s;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  padding: 10px;
}

/* This code below is the handler for the top photo*/

.Top_Website {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* This code below is the handler for the navigation bar*/

nav {
  text-align: center;
  background-color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

nav a{
  text-align: center;
  text-decoration: none;
  color: black;
  display: compact;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

nav a:hover{
  color:rgb(114, 104, 104)
}

/* This code below is the handler for the photos */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Handles all of the boxes in the "container" */

.box {
  position: relative;
  width: 330px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 3px 4px 3px rgba(0,0,0,0.2);
}

.box img{
  width: 100%;
  height: 100%;
  transition: all linear 0.7s;
}

/* Handles what happens when you hover over the image */

img.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box:hover img{
  opacity: 0;
}

.box:hover img.hover-img{
  opacity: 1;
  transform: scale(1.03);
}
